{
    "swagger": "2.0",
    "schemes": [
        "https"
    ],
    "host": "www.afterbanks.com",
    "basePath": "/",
    "info": {
        "description": "La estandarizaci\u00f3n de la conexi\u00f3n con cualquier banco en tiempo real.",
        "title": "Afterbanks API",
        "version": "3.0.0",
        "x-apisguru-categories": [
            "financial"
        ],
        "x-description-language": "es",
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_AfterbanksAPI_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://www.afterbanks.com/api/documentation/es/swagger.yaml",
                "version": "2.0"
            }
        ],
        "x-providerName": "afterbanks.com"
    },
    "produces": [
        "application/json"
    ],
    "paths": {
        "/forms": {
            "get": {
                "description": "Obt\u00e9n una lista completa de los bancos soportados, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al oritinal del banco.\n",
                "parameters": [
                    {
                        "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
                        "in": "query",
                        "name": "country_code",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array con el listado de bancos soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Forms"
                            },
                            "type": "array"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "summary": "Lista de bancos soportados",
                "tags": [
                    "forms"
                ]
            }
        },
        "/me": {
            "post": {
                "description": "Devuelve informaci\u00f3n sobre mi licencia y uso de llamadas",
                "parameters": [
                    {
                        "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
                        "in": "query",
                        "name": "servicekey",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile information for a user",
                        "schema": {
                            "$ref": "#/definitions/me"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "summary": "Informaci\u00f3n de uso de mi licencia",
                "tags": [
                    "User"
                ]
            }
        },
        "/serviceV3": {
            "post": {
                "description": "Este endpoint devuelve el listado de productos y los movimientos para cada uno de los productos desde la fecha solicidata hasta el d\u00eda actual. Existe un sandbox donde probar llamadas: https://www.afterbanks.com/sandbox/\n",
                "parameters": [
                    {
                        "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
                        "in": "query",
                        "name": "servicekey",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene de https://www.afterbanks.com/forms/",
                        "in": "query",
                        "name": "service",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login del banco.",
                        "format": "int32",
                        "in": "query",
                        "name": "documentType",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "description": "Usuario",
                        "in": "query",
                        "name": "user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Contrase\u00f1a",
                        "in": "query",
                        "name": "pass",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Algunos bancos utilizan una segunda contrase\u00f1a.",
                        "in": "query",
                        "name": "pass2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "Nombres de productos bancarios (cuentas corrientes, tarjetas, etc), separados por coma. Cabe destacar que en la primera llamada a la API, a\u00fan no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este par\u00e1metro estar\u00e1 vac\u00edo.",
                        "in": "query",
                        "name": "products",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "Fecha desde la que queremos obtener los movimientos en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
                        "in": "query",
                        "name": "startdate",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array con listado de productos bancarios y movimientos.",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/serviceV3"
                            },
                            "type": "array"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "summary": "Posici\u00f3n global y movimientos hasta una fecha dada.",
                "tags": [
                    "serviceV3"
                ]
            }
        }
    },
    "definitions": {
        "Error": {
            "properties": {
                "code": {
                    "description": "Posibles valores: description:  1, Gen\u00e9rico; 2, La web del banco esta fuera de servicio; 3, Alg\u00fan dato de conexi\u00f3n no es v\u00e1lido; 4, La cuenta solicitada no existe; 5, Conexion cortada, reintente la solicitud; 6, El usuario debe acceder a la web del banco a realizar una acci\u00f3n; 50, Parametro incorrecto en la llamada a la API",
                    "format": "int32",
                    "type": "integer"
                },
                "message": {
                    "description": "Texto detallando el error encontrado, en el idioma del banco",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Forms": {
            "properties": {
                "business": {
                    "description": "Valor booleano. Hay bancos que tienen accesos diferentes para particulares y para empresas. Si el valor es 1, indica que es acceso de empresas",
                    "type": "boolean"
                },
                "country_code": {
                    "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
                    "type": "string"
                },
                "documentType": {
                    "description": "Lista de valores posibles para el campo de \"tipo de documento\", separado por el caracter \"|\" (por ejemplo: NIF|Pasaporte|Tarjeta de residencia). En el caso de que el banco no requiera de esta informaci\u00f3n en su formulario de login, el valor es 0",
                    "type": "string"
                },
                "fullname": {
                    "description": "Nombre completo del banco.",
                    "type": "string"
                },
                "image": {
                    "description": "URL del icono del banco en formato PNG transparente y resoluci\u00f3n 128x128.",
                    "type": "string"
                },
                "pass": {
                    "description": "Texto que acompa\u00f1a al input box de password",
                    "type": "string"
                },
                "pass2": {
                    "description": "Texto que acompa\u00f1a al input box del segundo password. En el caso de que el banco no requiera de esta informaci\u00f3n en su formulario de login, el valor es 0",
                    "type": "string"
                },
                "pass2desc": {
                    "description": "Texto de ayuda para rellenar el inputbox de segundo password, en caso de que el formulario original del banco tenga alg\u00fan texto de ayuda.",
                    "type": "string"
                },
                "pass2type": {
                    "description": "Texto que acompa\u00f1a al input box del segundo password. En el caso de que el banco no requiera de esta informaci\u00f3n en su formulario de login, el valor es 0",
                    "type": "string"
                },
                "passdesc": {
                    "description": "Texto de ayuda para rellenar el inputbox de password, en caso de que el formulario original del banco tenga alg\u00fan texto de ayuda.",
                    "type": "string"
                },
                "passtype": {
                    "description": "Texto que acompa\u00f1a al input box de password",
                    "type": "string"
                },
                "service": {
                    "description": "Identificador \u00fanico del banco en la API.",
                    "type": "string"
                },
                "swift": {
                    "description": "C\u00f3digo SWIFT, formato ISO 9362 (https://en.wikipedia.org/wiki/ISO_9362).",
                    "type": "string"
                },
                "user": {
                    "description": "Texto que acompa\u00f1a al input box de usuario",
                    "type": "string"
                },
                "userdesc": {
                    "description": "Texto de ayuda para rellenar el inputbox de usuario, en caso de que el formulario original del banco tenga alg\u00fan texto de ayuda.",
                    "type": "string"
                },
                "usertype": {
                    "description": "Texto que acompa\u00f1a al input box de usuario",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Transactions": {
            "properties": {
                "amount": {
                    "description": "Importe de la transacci\u00f3n",
                    "format": "float",
                    "type": "number"
                },
                "balance": {
                    "description": "Saldo del producto en el instante posterior a la transacci\u00f3n",
                    "format": "float",
                    "type": "number"
                },
                "categoryId": {
                    "description": "Id de categor\u00eda. Solo para las servicekeys con la opci\u00f3n contratada. Listado de categor\u00edas: https://www.afterbanks.com/serviceV3/categories/?country_code=ES",
                    "format": "int",
                    "type": "number"
                },
                "date": {
                    "description": "Fecha del movimiento en formato dd-mm-yyyy",
                    "format": "date",
                    "type": "string"
                },
                "date2": {
                    "description": "Fecha de valor en formato dd-mm-yyyy",
                    "format": "date",
                    "type": "string"
                },
                "description": {
                    "description": "Descricipci\u00f3n de la transacci\u00f3n",
                    "type": "string"
                },
                "transactionId": {
                    "description": "Identificador \u00fanico de la transacci\u00f3n de 32 caracteres",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "me": {
            "properties": {
                "date_renewal": {
                    "description": "Fecha de renovaci\u00f3n del contador de llamadas, en formato dd-mm-yyyy",
                    "format": "date",
                    "type": "string"
                },
                "remaining_calls": {
                    "description": "Llamadas restantes para tu ciclo de facturaci\u00f3n actual.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "serviceV3": {
            "properties": {
                "arranged_balance": {
                    "description": "Saldo dispuesto",
                    "format": "float",
                    "type": "number"
                },
                "balance": {
                    "description": "Saldo disponible del producto. Siempre existir\u00e1 este saldo, el resto de valores balance podr\u00e1n existir o no.",
                    "format": "float",
                    "type": "number"
                },
                "balance_credit_granted": {
                    "description": "Saldo concedido",
                    "format": "float",
                    "type": "number"
                },
                "balance_value": {
                    "description": "Saldo valor",
                    "format": "float",
                    "type": "number"
                },
                "countable_balance": {
                    "description": "Saldo contable",
                    "format": "float",
                    "type": "number"
                },
                "currency": {
                    "description": "C\u00f3digo de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
                    "type": "string"
                },
                "description": {
                    "description": "Nombre del producto. En ocasiones es un alias que ha asignado el usuario, o puede coincidir con el valor de product.",
                    "type": "string"
                },
                "product": {
                    "description": "Identificador \u00fanico para un producto. Por ejemplo, n\u00famero de cuenta bancaria o numeraci\u00f3n de tarjeta de cr\u00e9dito.",
                    "type": "string"
                },
                "transactions": {
                    "items": {
                        "$ref": "#/definitions/Transactions"
                    },
                    "type": "array"
                },
                "type": {
                    "description": "Tipo de producto. Los valores m\u00e1s habituales son \"checking\" para cuenta corriente, \"card\" para tarjeta de cr\u00e9dito, \"debit\" para tarjeta de d\u00e9bito y \"loan\" para pr\u00e9stamos. Los valores posibles son: card, checking, debit, deposit, insurance, investment, lineofcredit, loan, other, pensionplan, saving, securities, stocks",
                    "type": "string"
                }
            },
            "type": "object"
        }
    }
}