{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.shop-pro.jp"
        }
    ],
    "info": {
        "contact": {
            "name": "\u304a\u554f\u3044\u5408\u305b\u7a93\u53e3",
            "url": "https://shop-pro.jp/?mode=inq"
        },
        "description": "# \u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2 API\n\n[\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2](https://app.shop-pro.jp/)\u306b\u3066\u516c\u958b\u3059\u308b\u30a2\u30d7\u30ea\u306b\u5bfe\u3057\u3066\u3001\u4e00\u822c\u516c\u958b\u3057\u3066\u3044\u308b[\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7API](https://developer.shop-pro.jp/docs/colorme-api)\u306b\u52a0\u3048\u3066\u3001\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2API\uff08\u4ee5\u4e0b\u3001\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2API\u3068\u3044\u3044\u307e\u3059\uff09\u3092\u5229\u7528\u3059\u308b\u3053\u3068\u304c\u51fa\u6765\u307e\u3059\u3002\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2API\u3067\u306f\u4ee5\u4e0b\u306e\u3053\u3068\u304c\u884c\u3048\u307e\u3059\u3002\n- \u8ab2\u91d1\u30c7\u30fc\u30bf(\u30a2\u30d7\u30ea\u5185\u8ab2\u91d1\u3001\u5f93\u91cf\u8ab2\u91d1)\u306e\u4f5c\u6210\n- \u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u53d6\u5f97\u30fb\u4f5c\u6210\u30fb\u66f4\u65b0\u30fb\u524a\u9664\n- \u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u53d6\u5f97\u30fb\u4f5c\u6210\u30fb\u66f4\u65b0\u30fb\u524a\u9664\n\n## \u5229\u7528\u624b\u9806\n\n\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2API\u3092\u5229\u7528\u3059\u308b\u306b\u306f\u3001OAuth\u8a8d\u8a3c\u304c\u5fc5\u8981\u3067\u3059\u3002OAuth\u8a8d\u8a3c\u306e\u57fa\u672c\u7684\u306a\u6d41\u308c\u306b\u3064\u3044\u3066\u306f[\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7API\u30c9\u30ad\u30e5\u30e1\u30f3\u30c8](https://developer.shop-pro.jp/docs/colorme-api)\u3092\u53c2\u7167\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2API\u306e\u5229\u7528\u306e\u305f\u3081\u306b\u3001\u4ee5\u4e0b\u306escope\u304c\u8ffd\u52a0\u3067\u6307\u5b9a\u53ef\u80fd\u306b\u306a\u308a\u307e\u3059\u3002[\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7API\u30c9\u30ad\u30e5\u30e1\u30f3\u30c8](https://developer.shop-pro.jp/docs/colorme-api)\u306b\u63b2\u8f09\u3055\u308c\u3066\u3044\u308bscope\u3068\u5408\u308f\u305b\u3066\u3054\u5229\u7528\u304f\u3060\u3055\u3044\u3002\n\n|\u30b9\u30b3\u30fc\u30d7|\u6a5f\u80fd|\n|---|---|\n|`write_application_charge`|\u8ab2\u91d1\u30c7\u30fc\u30bf\u306e\u4f5c\u6210|\n|`read_shop_script_tags`|\u30b7\u30e7\u30c3\u30d7\u30da\u30fc\u30b8\u306e\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u3092\u53c2\u7167|\n|`write_shop_script_tags`|\u30b7\u30e7\u30c3\u30d7\u30da\u30fc\u30b8\u3078\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u3092\u8ffd\u52a0\u30fb\u66f4\u65b0|\n|`read_inline_script_tags`|\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u3092\u53c2\u7167|\n|`write_inline_script_tags`|\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u3092\u8ffd\u52a0\u30fb\u66f4\u65b0|\n|`read_script_tags`|\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u3092\u53c2\u7167(deprecated)|\n|`write_script_tags`|\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u3092\u8ffd\u52a0\u30fb\u66f4\u65b0(deprecated)|\n\n(\u4f8b) \u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u30a2\u30ab\u30a6\u30f3\u30c8\u306e\u8a8d\u8a3c\u30da\u30fc\u30b8\u3092\u8868\u793a\n```\nhttps://api.shop-pro.jp/oauth/authorize?client_id=CLIENT_ID&redirect_uri=REDIRECT_URI&response_type=code&scope=read_products%20write_products%20write_application_charge\n```\n\n## \u8ab2\u91d1\u8a2d\u5b9a\n\u6599\u91d1\u30d7\u30e9\u30f3\uff08\u6708\u984d\u8ab2\u91d1\u30fb\u5f93\u91cf\u8ab2\u91d1\u30fb\u8cb7\u3044\u5207\u308a\uff09\u306b\u3088\u308b\u8ab2\u91d1\u3084\u3001\u30a2\u30d7\u30ea\u5185\u8ab2\u91d1\u3092\u3054\u5229\u7528\u3044\u305f\u3060\u304f\u306b\u306f\u30a2\u30d7\u30ea\u3054\u3068\u306b\u8ab2\u91d1\u8a2d\u5b9a\u306e\u767b\u9332\u304c\u5fc5\u8981\u3067\u3059\u3002\n\u3053\u306e\u8a2d\u5b9a\u306f [\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7 \u30c7\u30d9\u30ed\u30c3\u30d1\u30fc](https://developer.shop-pro.jp) \u304b\u3089\u884c\u3046\u3053\u3068\u304c\u3067\u304d\u307e\u3059\u3002\n\n\u767b\u9332\u3067\u304d\u308b\u8ab2\u91d1\u5f62\u5f0f\u3084\u305d\u306e\u4f7f\u3044\u65b9\u306e\u8a73\u7d30\u306b\u3064\u3044\u3066\u306f[\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2 \u958b\u767a\u30ac\u30a4\u30c9\u306e\u30a2\u30d7\u30ea\u8ab2\u91d1\u306e\u30da\u30fc\u30b8](https://developer.shop-pro.jp/getting-started/appstore-billing/)\u3092\u3054\u89a7\u304f\u3060\u3055\u3044\n\n## \u30a2\u30d7\u30ea\u306e\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\n\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u304c\u30a2\u30d7\u30ea\u3092\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3057\u305f\u3068\u304d\u3001\u4ee5\u4e0b\u306e\u51e6\u7406\u3092\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u304c\u884c\u3044\u307e\u3059\u3002\n- \u9078\u629e\u3055\u308c\u305f\u6599\u91d1\u30d7\u30e9\u30f3\u306b\u57fa\u3065\u304d\u8ab2\u91d1\u958b\u59cb\n- \u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306e\u547c\u3073\u51fa\u3057\n\n### \u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\n\u30a2\u30d7\u30ea\u306e\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u6642\u306b\u3001\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u306b\u95a2\u3059\u308b\u60c5\u5831\u3092 `POST` \u30e1\u30bd\u30c3\u30c9\u3001 `application/json` \u5f62\u5f0f\u3067\u901a\u77e5\u3057\u307e\u3059\u3002\n\u901a\u77e5\u5148\u306eURL\u306f[\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7 \u30c7\u30d9\u30ed\u30c3\u30d1\u30fc](https://developer.shop-pro.jp/)\u306b\u30ed\u30b0\u30a4\u30f3\u3057\u3001\u5404\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2 \u30a2\u30d7\u30ea\u306e\u30a2\u30d7\u30ea\u8a2d\u5b9a\u304b\u3089\u767b\u9332\u3092\u884c\u3063\u3066\u304f\u3060\u3055\u3044\u3002\n\n\u4ee5\u4e0b\u306e\u30d1\u30e9\u30e1\u30fc\u30bf\u304c\u9001\u4fe1\u3055\u308c\u307e\u3059\u3002\u8ab2\u91d1\u8acb\u6c42\u306b\u5fc5\u8981\u306a\u30d1\u30e9\u30e1\u30fc\u30bf\u3092\u542b\u307f\u307e\u3059\u306e\u3067\u3001\u5fc5\u305a\u53d7\u3051\u53d6\u308c\u308b\u3088\u3046\u306b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n|\u30d1\u30e9\u30e1\u30fc\u30bf|\u6a5f\u80fd|\u5f62\u5f0f|\n|---|---|---|\n|`account_id`|\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3057\u305f\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u306e\u30a2\u30ab\u30a6\u30f3\u30c8ID|PA+8\u6841\u306e\u6574\u6570|\n|`application_charge_source_id`|\u30d7\u30e9\u30f3\u8ab2\u91d1ID|\u6570\u5b57\u3068\u5927\u6587\u5b57\u30a2\u30eb\u30d5\u30a1\u30d9\u30c3\u30c8\u3067\u69cb\u6210\u3055\u308c\u308b\u6587\u5b57\u5217(6\u6841\u4ee5\u4e0a)|\n|`recurring_application_charge_id`|\uff08\u8cb7\u3044\u5207\u308a\u4ee5\u5916\u306e\u8ab2\u91d1\u306e\u5834\u5408\uff09\u8ab2\u91d1\u5951\u7d04ID|\u6570\u5b57\u3068\u5927\u6587\u5b57\u30a2\u30eb\u30d5\u30a1\u30d9\u30c3\u30c8\u3067\u69cb\u6210\u3055\u308c\u308b\u6587\u5b57\u5217(6\u6841\u4ee5\u4e0a)|\n|`application_charge_id`|\uff08\u8cb7\u3044\u5207\u308a\u306e\u5834\u5408\uff09\u8ab2\u91d1\u5951\u7d04ID|\u6570\u5b57\u3068\u5927\u6587\u5b57\u30a2\u30eb\u30d5\u30a1\u30d9\u30c3\u30c8\u3067\u69cb\u6210\u3055\u308c\u308b\u6587\u5b57\u5217(6\u6841\u4ee5\u4e0a)|\n|`trial_term`|\uff08\u7121\u6599\u304a\u8a66\u3057\u671f\u9593\u304c\u3042\u308b\u5834\u5408\uff09\u7121\u6599\u304a\u8a66\u3057\u671f\u9593|JSON\u30aa\u30d6\u30b8\u30a7\u30af\u30c8|\n|`mail`|\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u3078\u306e\u9023\u7d61\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9|\u6587\u5b57\u5217|\n\n`application_charge_source_id` \u306f\u30c7\u30d9\u30ed\u30c3\u30d1\u30fc\u30b5\u30a4\u30c8\u3067\u8a2d\u5b9a\u3057\u305f\u30d7\u30e9\u30f3\u8ab2\u91d1\u306eID\u3067\u3059\u3002\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3055\u308c\u305f\u6599\u91d1\u30d7\u30e9\u30f3\u306e\u5224\u5225\u306b\u3054\u5229\u7528\u3044\u305f\u3060\u3051\u307e\u3059\u3002\n\n`recurring_application_charge_id` \u3068 `application_charge_id` \u306f\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3054\u3068\u306b\u767a\u884c\u3055\u308c\u308b\u30e6\u30cb\u30fc\u30af\u306aID\u3067\u3059\u3002\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u304c\u4e00\u5ea6\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3057\u305f\u5f8c\u306b\u3001\u518d\u5ea6\u540c\u3058\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u304c\u30a2\u30d7\u30ea\u306e\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3092\u884c\u3063\u305f\u969b\u306b\u306f\u65b0\u305f\u306b\u5225\u306eID\u304c\u767a\u884c\u3055\u308c\u307e\u3059\u3002\n\n`recurring_application_charge_id` \u306f\u300c\u8cb7\u3044\u5207\u308a\u300d\u4ee5\u5916\u306e\u8ab2\u91d1\u3067\u3042\u308b\u300c\u7121\u6599\u300d\u300c\u6708\u984d\u300d\u300c\u6708\u984d\uff0b\u5f93\u91cf\u300d\u300c\u6708\u984d\uff0b\u521d\u671f\u8cbb\u7528\u300d\u300c\u5f93\u91cf\u306e\u307f\u300d\u306e\u30d7\u30e9\u30f3\u8ab2\u91d1\u306e\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u306e\u969b\u306b\u767a\u884c\u3055\u308c\u307e\u3059\u3002\n\n\u5f93\u91cf\u306b\u3088\u308b\u8ab2\u91d1\u3092\u4f34\u3046\u30d7\u30e9\u30f3\u8ab2\u91d1\u306e\u5834\u5408\u306f\u3001\u5f93\u91cf\u5206\u306e\u6599\u91d1\u3092\u8acb\u6c42\u3059\u308b\u969b\u306b \u8ab2\u91d1\u5951\u7d04ID(`recurring_application_charge_id`) \u304c\u5fc5\u8981\u306b\u306a\u308b\u306e\u3067\u3001\u5fc5\u305a\u8a18\u9332\u3059\u308b\u3088\u3046\u306b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n`mail` \u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u306f\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u3078\u306e\u9023\u7d61\u624b\u6bb5\u3068\u3057\u3066\u3054\u5229\u7528\u3044\u305f\u3060\u3051\u307e\u3059\u3002\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5f8c\u306b\u8a8d\u53ef\u30d5\u30ed\u30fc\u304c\u4e2d\u65ad\u3055\u308c\u3001\u30a2\u30af\u30bb\u30b9\u30c8\u30fc\u30af\u30f3\u304c\u5f97\u3089\u308c\u306a\u3044\u969b\u306e\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u3078\u306e\u9023\u7d61\u624b\u6bb5\u3068\u3057\u3066\u3054\u6d3b\u7528\u3044\u305f\u3060\u3051\u307e\u3059\u3002\u3053\u306e\u30d1\u30e9\u30e1\u30fc\u30bf\u306f\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u306e\u975e\u516c\u958b\u60c5\u5831\u3068\u3057\u3066\u767b\u9332\u3055\u308c\u3066\u3044\u308b\u5024\u3067\u3059\u3002\u5de6\u8a18\u4ee5\u5916\u306e\u7528\u9014\u3067\u3053\u306e\u5024\u3092\u30a2\u30d7\u30ea\u306e\u6a5f\u80fd\u3067\u4f7f\u7528\u3057\u306a\u3044\u3067\u304f\u3060\u3055\u3044\u3002\n\n\u4f8b) \u8cb7\u3044\u5207\u308a\u306e\u5834\u5408\n```\n{\n  \"account_id\": \"PA00000001\",\n  \"application_charge_source_id\": \"F3RN9A\",\n  \"application_charge_id\": \"A3FT4N\",\n  \"mail\": \"shop@example.com\"\n}\n```\n\n\u4f8b) \u6708\u984d\u8ab2\u91d1\u306e\u5834\u5408\n```\n{\n  \"account_id\": \"PA00000001\",\n  \"application_charge_source_id\": \"F3RN9A\",\n  \"recurring_application_charge_id\": \"A3FT4N\",\n  \"mail\": \"shop@example.com\"\n}\n```\n\n\u7121\u6599\u304a\u8a66\u3057\u671f\u9593\u3092\u8a2d\u5b9a\u3057\u305f\u8ab2\u91d1\u306e\u5834\u5408\u3001\u4ee5\u4e0b\u306e\u60c5\u5831\u3092 `trial_term` \u30d1\u30e9\u30e1\u30fc\u30bf\u3068\u3057\u3066\u9001\u4fe1\u3057\u307e\u3059\u3002\n\u7121\u6599\u304a\u8a66\u3057\u671f\u9593\u4e2d\u306f\u5f93\u91cf\u8ab2\u91d1API\u3092\u547c\u3073\u51fa\u3057\u3066\u8ab2\u91d1\u8acb\u6c42\u3059\u308b\u3053\u3068\u306f\u3067\u304d\u307e\u305b\u3093\u3002\n\n|\u30d1\u30e9\u30e1\u30fc\u30bf|\u6a5f\u80fd|\u5f62\u5f0f|\n|---|---|---|\n|`starts_at`|\u7121\u6599\u304a\u8a66\u3057\u958b\u59cb\u65e5\u6642|\u6574\u6570\u5024(UNIX\u30bf\u30a4\u30e0\u30b9\u30bf\u30f3\u30d7)|\n|`ends_at`|\u7121\u6599\u304a\u8a66\u3057\u7d42\u4e86\u65e5\u6642|\u6574\u6570\u5024(UNIX\u30bf\u30a4\u30e0\u30b9\u30bf\u30f3\u30d7)|\n\n\u4f8b) \u7121\u6599\u304a\u8a66\u3057\u671f\u9593\u304c\u3042\u308b\u6708\u984d\u8ab2\u91d1\u306e\u5834\u5408\n```\n{\n  \"account_id\": \"PA00000001\",\n  \"application_charge_source_id\": \"F3RN9A\",\n  \"recurring_application_charge_id\": \"A3FT4N\",\n  \"mail\": \"shop@example.com\",\n  \"trial_term\" {\n    \"starts_at\": 1565017200,\n    \"ends_at\": 1567609200\n  }\n}\n```\n\n\u53d7\u3051\u53d6\u308a\u306b\u6210\u529f\u3057\u305f\u5834\u5408\u306f\u3001\u4ee5\u4e0b\u306e\u30d1\u30e9\u30e1\u30fc\u30bf\u3092 `application/json` \u5f62\u5f0f\u3067\u30ec\u30b9\u30dd\u30f3\u30b9\u30dc\u30c7\u30a3\u306b\u4ed8\u4e0e\u3057\u3001\n\u30b9\u30c6\u30fc\u30bf\u30b9\u30b3\u30fc\u30c9 `200` \u30ec\u30b9\u30dd\u30f3\u30b9\u3092\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u3078\u8fd4\u5374\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\u30b9\u30c6\u30fc\u30bf\u30b9\u30b3\u30fc\u30c9 `200` \u30ec\u30b9\u30dd\u30f3\u30b9\u3092\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u304c\u53d7\u3051\u53d6\u308c\u306a\u3044\u5834\u5408\u3001\u3082\u3057\u304f\u306f\u4ee5\u4e0b\u306e\u30d1\u30e9\u30e1\u30fc\u30bf\u30fc\u304c\u8fd4\u5374\u3055\u308c\u306a\u304b\u3063\u305f\u5834\u5408\u3001\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3092\u4e2d\u6b62\u3057\u3001\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u306b\u3088\u3063\u3066\u767a\u751f\u3057\u305f\u60c5\u5831\u306f\u7834\u68c4\u3055\u308c\u307e\u3059\u3002\n\n|\u30d1\u30e9\u30e1\u30fc\u30bf|\u6a5f\u80fd|\u5f62\u5f0f|\n|---|---|---|\n|`redirect_url`|\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u6210\u529f\u5f8c\u306b\u9077\u79fb\u3059\u308bURL|\u6587\u5b57\u5217\uff08URL\uff09|\n\n\u4f8b)\n```\n{\n  \"redirect_url\": \"https://example.com\"\n}\n```\n\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5b8c\u4e86\u5f8c\u3001\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306e\u30ec\u30b9\u30dd\u30f3\u30b9\u30d1\u30e9\u30e1\u30fc\u30bf\u306e `redirect_url` \u3078\u753b\u9762\u9077\u79fb\u3057\u307e\u3059\u306e\u3067\u3001API\u3092\u5229\u7528\u3059\u308b\u5834\u5408\u306f `redirect_url` \u3088\u308a\u5148\u306e\u753b\u9762\u3067OAuth\u8a8d\u8a3c\u306e\u5b9f\u88c5\u3092\u304a\u9858\u3044\u3057\u307e\u3059\u3002\n\n## \u30a2\u30d7\u30ea\u306e\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\n\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u304c\u30a2\u30d7\u30ea\u3092\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3057\u305f\u3068\u304d\u3001\u4ee5\u4e0b\u306e\u51e6\u7406\u3092\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u304c\u884c\u3044\u307e\u3059\u3002\n- OAuth\u8a8d\u8a3c\u306e\u30a2\u30af\u30bb\u30b9\u30c8\u30fc\u30af\u30f3\u306e\u7121\u52b9\u5316\n- \u767b\u9332\u3057\u305f\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u30fb\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u524a\u9664\n- \u6708\u984d\u8ab2\u91d1\u5f62\u5f0f\u306e\u5834\u5408\u3001\u7d99\u7d9a\u8ab2\u91d1\u306e\u7121\u52b9\u5316\n\n### \u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\n\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u76f4\u5f8c\u306b `POST` \u30e1\u30bd\u30c3\u30c9\u3067\u3001\u4ee5\u4e0b\u306e\u60c5\u5831\u3092 `application/json` \u5f62\u5f0f\u3067\u901a\u77e5\u3057\u307e\u3059\u3002\n\u901a\u77e5\u5148\u306eURL\u306f[\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7 \u30c7\u30d9\u30ed\u30c3\u30d1\u30fc](https://developer.shop-pro.jp/)\u306b\u30ed\u30b0\u30a4\u30f3\u3057\u3001\u5404\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2 \u30a2\u30d7\u30ea\u306e\u30a2\u30d7\u30ea\u8a2d\u5b9a\u304b\u3089\u767b\u9332\u3092\u884c\u3063\u3066\u304f\u3060\u3055\u3044\u3002\n\n\u203b [\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30ebAPI](#operation/deleteInstallation)\u306e\u3054\u5229\u7528\u306b\u3088\u308b\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u6642\u306f\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306f\u901a\u77e5\u3055\u308c\u307e\u305b\u3093\u3002\n\n\u53d7\u3051\u53d6\u308a\u306b\u6210\u529f\u3057\u305f\u5834\u5408\u306f\u30b9\u30c6\u30fc\u30bf\u30b9\u30b3\u30fc\u30c9 `200` \u306e\u30ec\u30b9\u30dd\u30f3\u30b9\u3092\u8fd4\u5374\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n|\u30d1\u30e9\u30e1\u30fc\u30bf|\u6a5f\u80fd|\u5f62\u5f0f|\n|---|---|---|\n|`account_id`|\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3057\u305f\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u306e\u30a2\u30ab\u30a6\u30f3\u30c8ID|PA+8\u6841\u306e\u6574\u6570|\n|`application_charge_source_id`|\u30d7\u30e9\u30f3\u8ab2\u91d1ID|\u6570\u5b57\u3068\u5927\u6587\u5b57\u30a2\u30eb\u30d5\u30a1\u30d9\u30c3\u30c8\u3067\u69cb\u6210\u3055\u308c\u308b\u6587\u5b57\u5217(6\u6841\u4ee5\u4e0a)|\n|`uninstalled_at`|\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u65e5\u6642|\u6574\u6570\u5024(UNIX\u30bf\u30a4\u30e0\u30b9\u30bf\u30f3\u30d7)|\n|`reason`|\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u7406\u7531| `by_shop_owner` (\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u306b\u3088\u308b)<br /> `by_unpaid` (\u672a\u6255\u3044\u306b\u3088\u308b) |\n|`recurring_application_charge_id`|\uff08\u8cb7\u3044\u5207\u308a\u4ee5\u5916\u306e\u8ab2\u91d1\u306e\u5834\u5408\uff09\u8ab2\u91d1\u5951\u7d04ID|\u6570\u5b57\u3068\u5927\u6587\u5b57\u30a2\u30eb\u30d5\u30a1\u30d9\u30c3\u30c8\u3067\u69cb\u6210\u3055\u308c\u308b\u6587\u5b57\u5217(6\u6841\u4ee5\u4e0a)|\n|`usage_charge`|\uff08\u5f93\u91cf\u8ab2\u91d1\u306e\u5834\u5408\uff09\u5f93\u91cf\u8ab2\u91d1\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u60c5\u5831|JSON\u30aa\u30d6\u30b8\u30a7\u30af\u30c8|\n\n\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306e\u901a\u77e5\u304c\u4f34\u3046\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u306f\u4ee5\u4e0b\u306e\u64cd\u4f5c\u306e\u3044\u305a\u308c\u304b\u306b\u3088\u3063\u3066\u884c\u308f\u308c\u307e\u3059\u3002\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u306e\u7406\u7531\u3092 `reason` \u30d1\u30e9\u30e1\u30fc\u30bf\u3067\u78ba\u8a8d\u3067\u304d\u307e\u3059\u3002\n\n|reason\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024|\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u7406\u7531|\n|---|---|\n|`by_shop_owner`|\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u306b\u3088\u308b\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u64cd\u4f5c|\n|`by_unpaid`|\u30dd\u30a4\u30f3\u30c8\u4e0d\u8db3\u306b\u3088\u308b\u5229\u7528\u6599\u5fb4\u53ce\u306e\u5931\u6557\u306b\u3088\u308b\u81ea\u52d5\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb|\n\n\u8ab2\u91d1\u5951\u7d04ID `recurring_application_charge_id` \u306f\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u3067\u901a\u77e5\u3057\u305fID\u3068\u540c\u3058ID\u304c\u901a\u77e5\u3055\u308c\u307e\u3059\u3002\n\n\u6599\u91d1\u30d7\u30e9\u30f3\u304c\u5f93\u91cf\u8ab2\u91d1\u306e\u5834\u5408\u3001\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5f8c\u306b\u5f93\u91cf\u8ab2\u91d1\u30c7\u30fc\u30bf\u306e\u4f5c\u6210\u3092\u53ef\u80fd\u306b\u3059\u308b\u305f\u3081\u306b\u3001\u4ee5\u4e0b\u306e\u60c5\u5831\u3092 `usage_charge` \u30d1\u30e9\u30e1\u30fc\u30bf\u3068\u3057\u3066\u9001\u4fe1\u3057\u307e\u3059\u3002\n\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5f8c\u306fOAuth\u306e\u30a2\u30af\u30bb\u30b9\u30c8\u30fc\u30af\u30f3\u304c\u7121\u52b9\u5316\u3055\u308c\u3066\u3044\u308b\u305f\u3081\u3001\u30a2\u30af\u30bb\u30b9\u30c8\u30fc\u30af\u30f3\u3092\u5229\u7528\u3057\u3066\u5f93\u91cf\u8ab2\u91d1API\u3092\u547c\u3073\u51fa\u3059\u3053\u3068\u304c\u3067\u304d\u306a\u304f\u306a\u308a\u307e\u3059\u3002\n\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5f8c\u306f\u30a2\u30af\u30bb\u30b9\u30c8\u30fc\u30af\u30f3\u306e\u4ee3\u308f\u308a\u306b `api_token` \u3092\u30ea\u30af\u30a8\u30b9\u30c8\u30d8\u30c3\u30c0\u30fc\u306b\u542b\u3081\u3001\u5f93\u91cf\u8ab2\u91d1API\u3092\u547c\u3073\u51fa\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\u7121\u6599\u304a\u8a66\u3057\u671f\u9593\u4e2d\u306b\u30a2\u30d7\u30ea\u304c\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3055\u308c\u305f\u5834\u5408\u306f\u3001`api_token` \u306f\u767a\u884c\u3055\u308c\u307e\u305b\u3093\u3002\n\u8a73\u3057\u304f\u306f\u3001[\u5f93\u91cf\u8ab2\u91d1\u30c7\u30fc\u30bf\u306e\u4f5c\u6210](https://app.shop-pro.jp/open_api#operation/createUsageCharge)\u3092\u53c2\u7167\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n`api_token` \u3092\u5229\u7528\u3057\u305f\u5f93\u91cf\u8ab2\u91d1API\u306e\u547c\u3073\u51fa\u3057\u306f\u3001\u30dd\u30a4\u30f3\u30c8\u7de0\u3081\u65e5 `closing_on` \u307e\u3067\u3068\u306a\u3063\u3066\u304a\u308a\u307e\u3059\u306e\u3067\u3001\u3054\u6ce8\u610f\u304f\u3060\u3055\u3044\u3002\n\n|\u30d1\u30e9\u30e1\u30fc\u30bf|\u6a5f\u80fd|\u5f62\u5f0f|\n|---|---|---|\n|`api_token`|\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5f8c\u306b\u5f93\u91cf\u8ab2\u91d1API\u3092\u5229\u7528\u3044\u305f\u3060\u304f\u305f\u3081\u306b\u5fc5\u8981\u306a\u60c5\u5831|\u6587\u5b57\u5217|\n|`closing_on`|\u30dd\u30a4\u30f3\u30c8\u7de0\u3081\u65e5|\u6574\u6570\u5024(UNIX\u30bf\u30a4\u30e0\u30b9\u30bf\u30f3\u30d7)|\n\n\u901a\u5e38\u3001 `closing_on` \u306f\u3001\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u76f4\u524d\u307e\u3067\u5229\u7528\u3055\u308c\u3066\u3044\u305f\u5951\u7d04\u306e\u671f\u9593\u306e\u6708\u672b\u3068\u306a\u308a\u307e\u3059\u3002\u4ee5\u4e0b\u306b\u4f8b\u3092\u793a\u3057\u307e\u3059\u3002\n\n|\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u65e5|\u76f4\u524d\u307e\u3067\u5229\u7528\u3055\u308c\u3066\u3044\u305f\u5951\u7d04\u306e\u671f\u9593|closing_on \u306e\u793a\u3059\u65e5\u6642|\n|---|---|---|\n|2021/01/09|2021/12/10\u301c2021/01/09|2021/01/31|\n|2021/01/10|2021/01/10\u301c2021/02/09|2021/02/28|\n\n\u5f93\u91cf\u8ab2\u91d1\u306e\u5834\u5408\u306e\u30e6\u30fc\u30b6\u30fc\u306e\u5951\u7d04\u671f\u9593\u306b\u3064\u3044\u3066\u306f[\u3053\u3061\u3089](https://shop-pro.jp/manual/appstore_fee)\u3092\u3054\u53c2\u7167\u304f\u3060\u3055\u3044\n\n\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306e\u4f8b\u3092\u4ee5\u4e0b\u306b\u793a\u3057\u307e\u3059\u3002\n\n\u4f8b) \u8cb7\u3044\u5207\u308a\u306e\u5834\u5408\n```\n{\n  \"account_id\": \"PA00000001\",\n  \"application_charge_source_id\": \"Q21GPC\",\n  \"uninstalled_at\": 1552022739,\n  \"reason\": \"by_shop_owner\"\n}\n```\n\n\u4f8b) \u6708\u984d\u8ab2\u91d1\u306e\u5834\u5408\n```\n{\n  \"account_id\": \"PA00000001\",\n  \"application_charge_source_id\": \"EW3V21\",\n  \"recurring_application_charge_id\": \"F3RN9A\",\n  \"uninstalled_at\": 1552022740,\n  \"reason\": \"by_shop_owner\"\n}\n```\n\n\u4f8b) \u5f93\u91cf\u8ab2\u91d1\u3092\u542b\u3080\u6708\u984d\u8ab2\u91d1\u306e\u5834\u5408\n```\n{\n  \"account_id\": \"PA00000001\",\n  \"application_charge_source_id\": \"WA37CA\",\n  \"recurring_application_charge_id\": \"F3WQ1S\",\n  \"uninstalled_at\": 1552022740,\n  \"reason\": \"by_shop_owner\",\n  \"usage_charge\": {\n    \"api_token\": \"token\",\n    \"closing_on\": 1552533465\n  }\n}\n```\n\n### \u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306e\u30ea\u30c8\u30e9\u30a4\n\u30b9\u30c6\u30fc\u30bf\u30b9\u30b3\u30fc\u30c9 `200` \u306e\u30ec\u30b9\u30dd\u30f3\u30b9\u3092\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u304c\u53d7\u3051\u53d6\u308c\u306a\u3044\u5834\u5408\u306f\u3001\u30b9\u30c6\u30fc\u30bf\u30b9\u30b3\u30fc\u30c9 `200` \u3092\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u304c\u53d7\u3051\u53d6\u308b\u307e\u3067\u3001\u4ee5\u4e0b\u306e\u6761\u4ef6\u3067\u518d\u5ea6\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u60c5\u5831\u3092\u9001\u4fe1\u3057\u307e\u3059\u3002\n\u306a\u304a\u3001\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u306b\u3088\u308b\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u51e6\u7406\u306f\u3001\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306e\u9001\u4fe1\u7d50\u679c\u306e\u6210\u5426\u306b\u3088\u3089\u305a\u3001\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u304c\u5b9f\u884c\u3055\u308c\u305f\u3068\u304d\u306b\u5b8c\u4e86\u3057\u307e\u3059\u3002\n\n- 2\u6642\u959330\u5206\u3054\u3068\u306b\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306e\u4ed5\u69d8\u306b\u57fa\u3065\u304d\u518d\u9001\u3057\u307e\u3059\n- \u6700\u5927\u3067\u5408\u8a0819\u56de\u518d\u9001\u3057\u307e\u3059\n- \u3059\u3079\u3066\u306e\u518d\u9001\u306e\u8a66\u884c\u3067\u30b9\u30c6\u30fc\u30bf\u30b9\u30b3\u30fc\u30c9 `200` \u3092\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u304c\u53d7\u3051\u53d6\u308c\u306a\u3044\u5834\u5408\u306f\u3001\u516c\u8a8d\u30c7\u30d9\u30ed\u30c3\u30d1\u30fc\u7533\u8acb\u6642\u306b\u767b\u9332\u3055\u308c\u305f\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9\u5b9b\u306b\u30e1\u30fc\u30eb\u3092\u9001\u4fe1\u3057\u307e\u3059\n\n## \u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30fb\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306e\u7f72\u540d\u691c\u8a3c\n`X-Appstore-Signature` \u30ea\u30af\u30a8\u30b9\u30c8\u30d8\u30c3\u30c0\u30fc\u306b\u542b\u307e\u308c\u308b\u7f72\u540d\u3092\u691c\u8a3c\u3057\u3066\u3001\u30ea\u30af\u30a8\u30b9\u30c8\u304c\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u304b\u3089\u9001\u4fe1\u3055\u308c\u305f\u3053\u3068\u3092\u78ba\u8a8d\u3059\u308b\u3053\u3068\u3092\u63a8\u5968\u3057\u307e\u3059\u3002\n\n\u691c\u8a3c\u306e\u624b\u9806\u306f\u4ee5\u4e0b\u306e\u3068\u304a\u308a\u3067\u3059\u3002\n\n1. \u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u304c\u767a\u884c\u3057\u305f `webhook_secret` \u3092\u79d8\u5bc6\u9375\u3068\u3057\u3066\u3001HMAC-SHA256\u30a2\u30eb\u30b4\u30ea\u30ba\u30e0\u3092\u4f7f\u7528\u3057\u3066\u30ea\u30af\u30a8\u30b9\u30c8\u30dc\u30c7\u30a3\u306e\u30c0\u30a4\u30b8\u30a7\u30b9\u30c8\u5024\u3092\u53d6\u5f97\u3057\u307e\u3059\u3002\n2. \u30c0\u30a4\u30b8\u30a7\u30b9\u30c8\u5024\u3092Base64\u30a8\u30f3\u30b3\u30fc\u30c9\u3057\u305f\u5024\u3068\u30ea\u30af\u30a8\u30b9\u30c8\u30d8\u30c3\u30c0\u30fc\u306b\u4ed8\u4e0e\u3055\u308c\u305f\u7f72\u540d( `X-Appstore-Signature` \u306e\u5024\uff09\u304c\u4e00\u81f4\u3059\u308b\u3053\u3068\u3092\u78ba\u8a8d\u3057\u307e\u3059\u3002\n\n\n\u30b5\u30f3\u30d7\u30eb\u30b3\u30fc\u30c9(ruby)\n```ruby\nWEBHOOK_SECRET = 'my_webhook_secret'\n\npayload_body = request.body.read\nsignature = Base64.strict_encode64(OpenSSL::HMAC.digest('sha256', WEBHOOK_SECRET, payload_body))\nActiveSupport::SecurityUtils.secure_compare(signature, request.env['HTTP_X_APPSTORE_SIGNATURE'])\n```\n",
        "termsOfService": "https://api.shop-pro.jp/developers/tos",
        "title": "\u30ab\u30e9\u30fc\u30df\u30fc\u30b7\u30e7\u30c3\u30d7\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2 API",
        "version": "1.0.0",
        "x-apisguru-categories": [
            "ecommerce"
        ],
        "x-description-language": "jp",
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_static-www.shop-pro.jp_img_cms_components_cms_header_cms_header_brand.svg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://api.shop-pro.jp/appstore//v1/open_api.json",
                "version": "2.0"
            }
        ],
        "x-providerName": "shop-pro.jp"
    },
    "tags": [
        {
            "name": "application_charge",
            "x-displayName": "\u8ab2\u91d1"
        },
        {
            "description": "\u30b7\u30e7\u30c3\u30d7\u30da\u30fc\u30b8\u306b\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u3092\u633f\u5165\u3059\u308bAPI\u3067\u3059\u3002\n\n\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u30a8\u30f3\u30c9\u30dd\u30a4\u30f3\u30c8\u3092\u5229\u7528\u3059\u308b\u5834\u5408\u3001\u4ee5\u4e0b\u306e\u70b9\u306b\u3054\u6ce8\u610f\u304f\u3060\u3055\u3044\u3002\n- \u30b9\u30af\u30ea\u30d7\u30c8\u3092\u914d\u4fe1\u3059\u308b\u30b5\u30fc\u30d0\u306f\u3001\u9069\u5207\u306aCORS\u30d8\u30c3\u30c0(e.g. `Access-Control-Allow-Origin`) \u3092\u30ec\u30b9\u30dd\u30f3\u30b9\u306b\u4ed8\u4e0e\u3059\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\n- \u767b\u9332\u6e08\u307f\u30b9\u30af\u30ea\u30d7\u30c8\u306e\u5185\u5bb9\u3092\u5909\u66f4\u3057\u305f\u5834\u5408\u306f\u3001\u90fd\u5ea6\u66f4\u65b0\u30ea\u30af\u30a8\u30b9\u30c8\u306b\u3066\u9069\u5207\u306a `integrity` \u30d1\u30e9\u30e1\u30fc\u30bf\u3092\u9001\u4fe1\u3059\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\n- \u767b\u9332\u3059\u308b\u30b9\u30af\u30ea\u30d7\u30c8\u306eURL\u30b9\u30ad\u30fc\u30e0\u306f `https` \u306e\u307f\u306b\u306a\u308a\u307e\u3059\n- \u767b\u9332\u30fb\u66f4\u65b0\u6642\u306b\u30ab\u30e9\u30fc\u30df\u30fcAPI\u304c\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u53d6\u5f97\u3057\u307e\u3059\u3002\u30b9\u30af\u30ea\u30d7\u30c8\u304c\u53d6\u5f97\u3067\u304d\u306a\u3044\u5834\u5408\u306f\u767b\u9332\u3067\u304d\u307e\u305b\u3093\n- \u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0API\u3067\u633f\u5165\u3055\u308c\u305f\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306f\u3001\u30a2\u30d7\u30ea\u304c\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3055\u308c\u308b\u3068\u81ea\u52d5\u3067\u524a\u9664\u3055\u308c\u307e\u3059\n",
            "name": "script",
            "x-displayName": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0"
        },
        {
            "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u3092\u633f\u5165\u3059\u308bAPI\u3067\u3059\u3002\u203b\u65b0\u898f\u30c7\u30d9\u30ed\u30c3\u30d1\u30fc\u306f\u3053\u306e\u30a8\u30f3\u30c9\u30dd\u30a4\u30f3\u30c8\u3092\u5229\u7528\u3067\u304d\u307e\u305b\u3093\u3002\u4ee3\u308f\u308a\u306b [\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0](/open_api#tag/script) \u3092\u3054\u5229\u7528\u304f\u3060\u3055\u3044",
            "name": "script(deprecated)",
            "x-displayName": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0(deprecated)"
        },
        {
            "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u633f\u5165\u3059\u308bAPI\u3067\u3059\u3002\u203b\u65b0\u898f\u30c7\u30d9\u30ed\u30c3\u30d1\u30fc\u306f\u3053\u306e\u30a8\u30f3\u30c9\u30dd\u30a4\u30f3\u30c8\u3092\u5229\u7528\u3067\u304d\u307e\u305b\u3093",
            "name": "inline_script",
            "x-displayName": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8(deprecated)"
        },
        {
            "description": "\u30a2\u30d7\u30ea\u3092\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3059\u308bAPI\u3067\u3059\u3002",
            "name": "uninstallation",
            "x-displayName": "\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb"
        }
    ],
    "paths": {
        "/appstore/v1/application_charges.json": {
            "post": {
                "description": "\u300c\u30a2\u30d7\u30ea\u5185\u8ab2\u91d1\u300d\u306f\u3059\u3067\u306b\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u6e08\u307f\u306e\u30a2\u30d7\u30ea\u4e0a\u306b\u304a\u3044\u3066\u3001\u5229\u7528\u8005\u304c\u8ffd\u52a0\u306e\u8cb7\u3044\u5207\u308a\u306b\u3088\u308b\u8ab2\u91d1\u306b\u3088\u3063\u3066\u65b0\u305f\u306a\u30a2\u30d7\u30ea\u5185\u306e\u6a5f\u80fd\u3092\u63d0\u4f9b\u3055\u308c\u308b\u5834\u5408\u306a\u3069\u306b\u3001\u5229\u7528\u8005\u3078\u8cb7\u3044\u5207\u308a\u306e\u8ab2\u91d1\u5206\u306e\u8acb\u6c42\u3092\u884c\u3046\u305f\u3081\u306e\u8ab2\u91d1\u5f62\u5f0f\u3067\u3059\u3002\n\n\u3053\u306e\u8ab2\u91d1\u306f\u30d7\u30e9\u30f3\u8ab2\u91d1\u306e\u60c5\u5831\u306b\u7d10\u4ed8\u304b\u306a\u3044\u305f\u3081\u3001\u30ea\u30af\u30a8\u30b9\u30c8\u3055\u308c\u305f\u30bf\u30a4\u30df\u30f3\u30b0\u3067\u8ab2\u91d1\u30c7\u30fc\u30bf\u304c\u4f5c\u6210\u3055\u308c\u307e\u3059\u3002\u307e\u305f\u3001\u540c\u4e00\u306e\u30a2\u30d7\u30ea\u5185\u8ab2\u91d1ID\u3067\u540c\u3058\u5229\u7528\u8005\u3078\u8907\u6570\u56de\u8acb\u6c42\u3092\u884c\u3046\u3053\u3068\u3082\u53ef\u80fd\u3067\u3059\u3002\n\n\u305f\u3060\u3057\u3001\u30a2\u30d7\u30ea\u306e\u57fa\u672c\u6a5f\u80fd\u3068\u3057\u3066\u63d0\u4f9b\u3057\u3066\u3044\u308b\u30b5\u30fc\u30d3\u30b9\u3092\u5229\u7528\u3057\u305f\u91cf\u3084\u305d\u306e\u983b\u5ea6\u306a\u3069\u306b\u4f34\u3063\u3066\u6bce\u6708\u7570\u306a\u3063\u305f\u984d\u306e\u8acb\u6c42\u3092\u884c\u3046\u3088\u3046\u306a\u8ab2\u91d1\u306b\u3064\u3044\u3066\u306f\u3001\u30d7\u30e9\u30f3\u8ab2\u91d1\u306e\u300c\u5f93\u91cf\u306b\u3088\u308b\u8ab2\u91d1\u300d\u306e\u6a5f\u80fd\u3092\u4f7f\u3063\u3066\u8acb\u6c42\u3092\u884c\u3046\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002\n",
                "operationId": "postApplicationCharge",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "application_charge": {
                                        "properties": {
                                            "application_charge_source_id": {
                                                "description": "\u30a2\u30d7\u30ea\u5185\u8ab2\u91d1ID",
                                                "example": "5S1DAG",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "application_charge": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "id": {
                                                    "description": "\u8ab2\u91d1ID",
                                                    "example": "T21SUDG",
                                                    "type": "string"
                                                },
                                                "make_date": {
                                                    "description": "\u4f5c\u6210\u65e5\u6642",
                                                    "example": 1465784944,
                                                    "type": "integer"
                                                },
                                                "point": {
                                                    "description": "\u30dd\u30a4\u30f3\u30c8\u8acb\u6c42\u984d(\u7a0e\u629c)",
                                                    "example": 500,
                                                    "type": "integer"
                                                },
                                                "update_date": {
                                                    "description": "\u66f4\u65b0\u65e5\u6642",
                                                    "example": 1494496809,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "write_application_charge"
                        ]
                    }
                ],
                "summary": "\u30a2\u30d7\u30ea\u5185\u8ab2\u91d1\u30c7\u30fc\u30bf\u306e\u4f5c\u6210",
                "tags": [
                    "application_charge"
                ]
            }
        },
        "/appstore/v1/installation.json": {
            "delete": {
                "description": "\u3053\u306eAPI\u306f OAuth \u306e\u30a2\u30af\u30bb\u30b9\u30c8\u30fc\u30af\u30f3\u306b\u7d10\u4ed8\u304f\u30a2\u30d7\u30ea\u30b1\u30fc\u30b7\u30e7\u30f3\u3092\u30b7\u30e7\u30c3\u30d7\u304b\u3089\u524a\u9664\u3057\u307e\u3059\u3002\n\u3053\u306eAPI\u3092\u5229\u7528\u3057\u305f\u5834\u5408\u3001\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u304c\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3057\u305f\u5834\u5408\u3068\u7570\u306a\u308a\u3001\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u306f\u5b9f\u884c\u3055\u308c\u307e\u305b\u3093\u3002\n\u4ee3\u308f\u308a\u306b\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u3067\u901a\u77e5\u3055\u308c\u308b\u60c5\u5831\u306f\u3001\u3053\u306eAPI\u306e\u30ec\u30b9\u30dd\u30f3\u30b9\u306b\u542b\u307e\u308c\u3066\u3044\u307e\u3059\u3002\n\n\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u6642\u306e\u6ce8\u610f\u70b9\u306b\u3064\u3044\u3066\u306f\u3001[\u30a2\u30d7\u30ea\u306e\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb](https://app.shop-pro.jp/open_api#section/API/\u30a2\u30d7\u30ea\u306e\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb)\u3092\u53c2\u7167\u3057\u3066\u4e0b\u3055\u3044\u3002\n",
                "operationId": "deleteInstallation",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "account_id": {
                                            "description": "\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3057\u305f\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u306e\u30a2\u30ab\u30a6\u30f3\u30c8ID",
                                            "example": "PA00000000",
                                            "type": "string"
                                        },
                                        "application_charge_source_id": {
                                            "description": "\u30d7\u30e9\u30f3\u8ab2\u91d1ID",
                                            "example": "5S1DAG",
                                            "type": "string"
                                        },
                                        "recurring_application_charge_id": {
                                            "description": "\uff08\u8cb7\u3044\u5207\u308a\u4ee5\u5916\u306e\u8ab2\u91d1\u306e\u5834\u5408\uff09\u8ab2\u91d1\u5951\u7d04ID",
                                            "example": "F3WQ1S",
                                            "type": "string"
                                        },
                                        "uninstalled_at": {
                                            "description": "\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u65e5\u6642",
                                            "example": 1569920014,
                                            "type": "integer"
                                        },
                                        "usage_charge": {
                                            "description": "\uff08\u5f93\u91cf\u8ab2\u91d1\u306e\u5834\u5408\uff09\u5f93\u91cf\u8ab2\u91d1\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u60c5\u5831",
                                            "properties": {
                                                "api_token": {
                                                    "description": "\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5f8c\u306b\u5f93\u91cf\u8ab2\u91d1API\u3092\u5229\u7528\u3044\u305f\u3060\u304f\u305f\u3081\u306b\u5fc5\u8981\u306a\u60c5\u5831",
                                                    "example": "token",
                                                    "type": "string"
                                                },
                                                "closing_on": {
                                                    "description": "\u30dd\u30a4\u30f3\u30c8\u7de0\u3081\u65e5",
                                                    "example": 1572598664,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u6210\u529f"
                    }
                },
                "security": [
                    {
                        "OAuth2": []
                    }
                ],
                "summary": "\u30a2\u30d7\u30ea\u30b9\u30c8\u30a2\u30a2\u30d7\u30ea\u306e\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb",
                "tags": [
                    "uninstallation"
                ]
            }
        },
        "/appstore/v1/recurring_application_charges/{recurringApplicationChargeId}/usage_charges.json": {
            "post": {
                "description": "\u30a2\u30d7\u30ea\u5185\u3067\u57fa\u672c\u6a5f\u80fd\u304c\u5229\u7528\u3055\u308c\u305f\u983b\u5ea6\u306b\u4f34\u3063\u3066\u6bce\u6708\u306e\u8acb\u6c42\u304c\u5909\u52d5\u3059\u308b\u3088\u3046\u306a\u30a2\u30d7\u30ea\u306e\u5834\u5408\u306f\u300c\u5f93\u91cf\u8ab2\u91d1\u300d\u3092\u4f7f\u3063\u3066\u5229\u7528\u8005\u306b\u5909\u52d5\u5206\u306e\u8acb\u6c42\u3092\u884c\u3046\u3053\u3068\u304c\u3067\u304d\u307e\u3059\u3002\n\u203b\u7121\u6599\u304a\u8a66\u3057\u671f\u9593\u4e2d\u306e\u30b7\u30e7\u30c3\u30d7\u306b\u5bfe\u3057\u3066\u306f\u5f93\u91cf\u8ab2\u91d1\u30c7\u30fc\u30bf\u3092\u4f5c\u6210\u3067\u304d\u307e\u305b\u3093\u3002\n",
                "operationId": "createUsageCharge",
                "parameters": [
                    {
                        "description": "\u8ab2\u91d1\u5951\u7d04ID",
                        "in": "path",
                        "name": "recurringApplicationChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5f8c\u306e\u5f93\u91cf\u8ab2\u91d1\u306e\u7cbe\u7b97\u3092\u3059\u308b\u969b\u306b\u3001 `Authorization` \u30d8\u30c3\u30c0\u3078\u30a2\u30af\u30bb\u30b9\u30c8\u30fc\u30af\u30f3\u3092\u6307\u5b9a\u3059\u308b\u4ee3\u308f\u308a\u306b\u3053\u306e\u30d8\u30c3\u30c0\u3092\u6307\u5b9a\u3059\u308b\u3053\u3068\u3067\u3001\u3053\u306eAPI\u3092\u5b9f\u884c\u3059\u308b\u3053\u3068\u304c\u3067\u304d\u307e\u3059\u3002\n\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u4e2d\u306f\u6307\u5b9a\u4e0d\u8981\u3067\u3001\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5f8c\u306e\u307f\u5fc5\u9808\u3068\u306a\u308a\u307e\u3059\u3002\n\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u3067\u901a\u77e5\u3055\u308c\u308b `usage_charge.api_token` \u306e\u5024\u3092\u6307\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\u3053\u306e\u30d8\u30c3\u30c0\u306f\u3001\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u30d5\u30c3\u30af\u3067\u901a\u77e5\u3055\u308c\u308b `usage_charge.closing_on` \u307e\u3067\u6709\u52b9\u3067\u3059\u3002\u3053\u306e\u671f\u9593\u3092\u904e\u304e\u308b\u3068\u5f93\u91cf\u8ab2\u91d1\u3092\u7cbe\u7b97\u3067\u304d\u306a\u304f\u306a\u308a\u307e\u3059\u306e\u3067\u3054\u6ce8\u610f\u304f\u3060\u3055\u3044\u3002\u8a73\u3057\u304f\u306f [\u30a2\u30d7\u30ea\u306e\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb](#section/API/\u30a2\u30d7\u30ea\u306e\u30a2\u30f3\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb) \u3092\u3054\u78ba\u8a8d\u304f\u3060\u3055\u3044\u3002",
                        "in": "header",
                        "name": "X-Appstore-Usage-Charge-Token",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "usage_charge": {
                                        "properties": {
                                            "description": {
                                                "description": "\u5f93\u91cf\u8ab2\u91d1\u306e\u767a\u751f\u7406\u7531\u3002\u4f7f\u7528\u53ef\u80fd\u6587\u5b57\u306f ASCII, JIS X 0208, JIS X 0201, JIS X 0212\u306b\u9650\u308b\u3002",
                                                "example": "2019/4 \u30e1\u30fc\u30eb\u9001\u4fe1\u5206",
                                                "maxLength": 50,
                                                "type": "string"
                                            },
                                            "point": {
                                                "description": "\u30dd\u30a4\u30f3\u30c8\u6570\uff08\u7a0e\u629c\uff09\u3002100 \u5186\u4ee5\u4e0a 100 \u4e07\u5186\u4ee5\u4e0b\u304c\u6307\u5b9a\u53ef\u80fd\u3002\u3053\u306e\u30dd\u30a4\u30f3\u30c8\u306b\u6d88\u8cbb\u7a0e\u3092\u52a0\u7b97\u3057\u3066\u30b7\u30e7\u30c3\u30d7\u30aa\u30fc\u30ca\u30fc\u306b\u8acb\u6c42\u3057\u307e\u3059\u3002",
                                                "example": 100,
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "point",
                                            "description"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "\u5f93\u91cf\u8ab2\u91d1\u30c7\u30fc\u30bf",
                    "required": true
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "response": {
                                        "value": "{\n  \"usage_charge\": {\n    \"id\": \"X20SHDG\",\n    \"point\": 10,\n    \"description\": \"2019-04-15 \u30e1\u30fc\u30eb\u9001\u4fe1\",\n    \"make_date\": 146579000,\n    \"update_date\": 1494497000\n  }\n}"
                                    }
                                },
                                "schema": {
                                    "properties": {
                                        "usage_charge": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "description": {
                                                    "description": "\u5f93\u91cf\u8ab2\u91d1\u767a\u751f\u7406\u7531",
                                                    "example": "2019/4 \u30e1\u30fc\u30eb\u9001\u4fe1\u5206",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "\u5f93\u91cf\u8ab2\u91d1ID",
                                                    "example": "X20SHDG",
                                                    "type": "string"
                                                },
                                                "make_date": {
                                                    "description": "\u4f5c\u6210\u65e5\u6642",
                                                    "example": 1465784944,
                                                    "type": "integer"
                                                },
                                                "point": {
                                                    "description": "\u30dd\u30a4\u30f3\u30c8\u8acb\u6c42\u984d(\u7a0e\u629c)",
                                                    "example": 100,
                                                    "type": "integer"
                                                },
                                                "update_date": {
                                                    "description": "\u66f4\u65b0\u65e5\u6642",
                                                    "example": 1494496809,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "write_application_charge"
                        ]
                    }
                ],
                "summary": "\u5f93\u91cf\u8ab2\u91d1\u30c7\u30fc\u30bf\u306e\u4f5c\u6210",
                "tags": [
                    "application_charge"
                ]
            }
        },
        "/appstore/v1/script_tags.json": {
            "get": {
                "description": "",
                "operationId": "getShopScriptTags",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "script_tags": {
                                            "items": {
                                                "additionalProperties": false,
                                                "properties": {
                                                    "account_id": {
                                                        "description": "\u30a2\u30ab\u30a6\u30f3\u30c8ID",
                                                        "example": "PA12345678",
                                                        "type": "string"
                                                    },
                                                    "display_scope": {
                                                        "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\n- `shop`: \u30b7\u30e7\u30c3\u30d7\u30da\u30fc\u30b8\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n",
                                                        "enum": [
                                                            "shop",
                                                            "thanks_page"
                                                        ],
                                                        "example": "shop",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                                                        "example": 1342332,
                                                        "type": "integer"
                                                    },
                                                    "integrity": {
                                                        "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30d5\u30a1\u30a4\u30eb\u306e\u30cf\u30c3\u30b7\u30e5\u5024\uff08script tag\u306eintegrity\u5c5e\u6027\uff09",
                                                        "example": "sha384-oqVuAfXRKap7fdgcCY5uykM6+R9GqQ8K/uxy9rx7HNQlGYl1kPzQho1wx4JwY8wC",
                                                        "type": "string"
                                                    },
                                                    "make_date": {
                                                        "description": "\u4f5c\u6210\u65e5\u6642",
                                                        "example": 1465784944,
                                                        "type": "integer"
                                                    },
                                                    "oauth_application_id": {
                                                        "description": "OAuth\u30a2\u30d7\u30ea\u30b1\u30fc\u30b7\u30e7\u30f3ID",
                                                        "example": 12,
                                                        "type": "integer"
                                                    },
                                                    "src": {
                                                        "description": "\u30b9\u30af\u30ea\u30d7\u30c8URL",
                                                        "example": "https://example.com/example.js",
                                                        "type": "string"
                                                    },
                                                    "update_date": {
                                                        "description": "\u66f4\u65b0\u65e5\u6642",
                                                        "example": 1494496809,
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "read_shop_script_tags"
                        ]
                    }
                ],
                "summary": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u53d6\u5f97",
                "tags": [
                    "script"
                ]
            },
            "post": {
                "description": "",
                "operationId": "createShopScriptTag",
                "requestBody": {
                    "$ref": "#/components/requestBodies/createShopScriptTagScriptTag"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "script_tag": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "account_id": {
                                                    "description": "\u30a2\u30ab\u30a6\u30f3\u30c8ID",
                                                    "example": "PA12345678",
                                                    "type": "string"
                                                },
                                                "display_scope": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\n- `shop`: \u30b7\u30e7\u30c3\u30d7\u30da\u30fc\u30b8\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n",
                                                    "enum": [
                                                        "shop",
                                                        "thanks_page"
                                                    ],
                                                    "example": "shop",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                                                    "example": 1342332,
                                                    "type": "integer"
                                                },
                                                "integrity": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30d5\u30a1\u30a4\u30eb\u306e\u30cf\u30c3\u30b7\u30e5\u5024\uff08script tag\u306eintegrity\u5c5e\u6027\uff09",
                                                    "example": "sha384-oqVuAfXRKap7fdgcCY5uykM6+R9GqQ8K/uxy9rx7HNQlGYl1kPzQho1wx4JwY8wC",
                                                    "type": "string"
                                                },
                                                "make_date": {
                                                    "description": "\u4f5c\u6210\u65e5\u6642",
                                                    "example": 1465784944,
                                                    "type": "integer"
                                                },
                                                "oauth_application_id": {
                                                    "description": "OAuth\u30a2\u30d7\u30ea\u30b1\u30fc\u30b7\u30e7\u30f3ID",
                                                    "example": 12,
                                                    "type": "integer"
                                                },
                                                "src": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8URL",
                                                    "example": "https://example.com/example.js",
                                                    "type": "string"
                                                },
                                                "update_date": {
                                                    "description": "\u66f4\u65b0\u65e5\u6642",
                                                    "example": 1494496809,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "write_shop_script_tags"
                        ]
                    }
                ],
                "summary": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u4f5c\u6210",
                "tags": [
                    "script"
                ]
            }
        },
        "/appstore/v1/script_tags/{scriptTagId}.json": {
            "delete": {
                "description": "",
                "operationId": "deleteScriptTag",
                "parameters": [
                    {
                        "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                        "in": "path",
                        "name": "scriptTagId",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "write_shop_script_tags"
                        ]
                    }
                ],
                "summary": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u524a\u9664",
                "tags": [
                    "script"
                ]
            },
            "get": {
                "description": "",
                "operationId": "getShopScriptTag",
                "parameters": [
                    {
                        "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                        "in": "path",
                        "name": "scriptTagId",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "script_tag": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "account_id": {
                                                    "description": "\u30a2\u30ab\u30a6\u30f3\u30c8ID",
                                                    "example": "PA12345678",
                                                    "type": "string"
                                                },
                                                "display_scope": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\n- `shop`: \u30b7\u30e7\u30c3\u30d7\u30da\u30fc\u30b8\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n",
                                                    "enum": [
                                                        "shop",
                                                        "thanks_page"
                                                    ],
                                                    "example": "shop",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                                                    "example": 1342332,
                                                    "type": "integer"
                                                },
                                                "integrity": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30d5\u30a1\u30a4\u30eb\u306e\u30cf\u30c3\u30b7\u30e5\u5024\uff08script tag\u306eintegrity\u5c5e\u6027\uff09",
                                                    "example": "sha384-oqVuAfXRKap7fdgcCY5uykM6+R9GqQ8K/uxy9rx7HNQlGYl1kPzQho1wx4JwY8wC",
                                                    "type": "string"
                                                },
                                                "make_date": {
                                                    "description": "\u4f5c\u6210\u65e5\u6642",
                                                    "example": 1465784944,
                                                    "type": "integer"
                                                },
                                                "oauth_application_id": {
                                                    "description": "OAuth\u30a2\u30d7\u30ea\u30b1\u30fc\u30b7\u30e7\u30f3ID",
                                                    "example": 12,
                                                    "type": "integer"
                                                },
                                                "src": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8URL",
                                                    "example": "https://example.com/example.js",
                                                    "type": "string"
                                                },
                                                "update_date": {
                                                    "description": "\u66f4\u65b0\u65e5\u6642",
                                                    "example": 1494496809,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "read_shop_script_tags"
                        ]
                    }
                ],
                "summary": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u53d6\u5f97",
                "tags": [
                    "script"
                ]
            },
            "put": {
                "description": "",
                "operationId": "updateShopScriptTag",
                "parameters": [
                    {
                        "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                        "in": "path",
                        "name": "scriptTagId",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/createShopScriptTagScriptTag"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "script_tag": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "account_id": {
                                                    "description": "\u30a2\u30ab\u30a6\u30f3\u30c8ID",
                                                    "example": "PA12345678",
                                                    "type": "string"
                                                },
                                                "display_scope": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\n- `shop`: \u30b7\u30e7\u30c3\u30d7\u30da\u30fc\u30b8\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n",
                                                    "enum": [
                                                        "shop",
                                                        "thanks_page"
                                                    ],
                                                    "example": "shop",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                                                    "example": 1342332,
                                                    "type": "integer"
                                                },
                                                "integrity": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8\u30d5\u30a1\u30a4\u30eb\u306e\u30cf\u30c3\u30b7\u30e5\u5024\uff08script tag\u306eintegrity\u5c5e\u6027\uff09",
                                                    "example": "sha384-oqVuAfXRKap7fdgcCY5uykM6+R9GqQ8K/uxy9rx7HNQlGYl1kPzQho1wx4JwY8wC",
                                                    "type": "string"
                                                },
                                                "make_date": {
                                                    "description": "\u4f5c\u6210\u65e5\u6642",
                                                    "example": 1465784944,
                                                    "type": "integer"
                                                },
                                                "oauth_application_id": {
                                                    "description": "OAuth\u30a2\u30d7\u30ea\u30b1\u30fc\u30b7\u30e7\u30f3ID",
                                                    "example": 12,
                                                    "type": "integer"
                                                },
                                                "src": {
                                                    "description": "\u30b9\u30af\u30ea\u30d7\u30c8URL",
                                                    "example": "https://example.com/example.js",
                                                    "type": "string"
                                                },
                                                "update_date": {
                                                    "description": "\u66f4\u65b0\u65e5\u6642",
                                                    "example": 1494496809,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "write_shop_script_tags"
                        ]
                    }
                ],
                "summary": "\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u66f4\u65b0",
                "tags": [
                    "script"
                ]
            }
        },
        "/v1/inline_script_tags.json": {
            "get": {
                "description": "",
                "operationId": "getInlineScriptTags",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "inline_script_tags": {
                                            "items": {
                                                "additionalProperties": false,
                                                "properties": {
                                                    "account_id": {
                                                        "description": "\u30a2\u30ab\u30a6\u30f3\u30c8ID",
                                                        "example": "PA04511366",
                                                        "type": "string"
                                                    },
                                                    "display_scope": {
                                                        "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\u3002\n\n- `all`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\u3068\u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\u306e\u4e21\u65b9\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n- `cart`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\n",
                                                        "enum": [
                                                            "all",
                                                            "thanks_page",
                                                            "cart"
                                                        ],
                                                        "example": "shop",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                                                        "example": 1342332,
                                                        "type": "integer"
                                                    },
                                                    "make_date": {
                                                        "description": "\u4f5c\u6210\u65e5\u6642",
                                                        "example": 1465784944,
                                                        "type": "integer"
                                                    },
                                                    "oauth_application_id": {
                                                        "description": "\u30a2\u30d7\u30eaID",
                                                        "example": 8102,
                                                        "type": "integer"
                                                    },
                                                    "script": {
                                                        "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8",
                                                        "example": "console.log(\"aaaaa\")",
                                                        "type": "string"
                                                    },
                                                    "trigger_event": {
                                                        "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u5b9f\u884c\u3059\u308b\u30bf\u30a4\u30df\u30f3\u30b0\u3002\n\n- `object_builded`: JS\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u4f5c\u6210\u304c\u5b8c\u4e86\u3057\u305f\u6642\n",
                                                        "enum": [
                                                            "object_builded"
                                                        ],
                                                        "example": "object_builded",
                                                        "type": "string"
                                                    },
                                                    "update_date": {
                                                        "description": "\u66f4\u65b0\u65e5\u6642",
                                                        "example": 1494496809,
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "read_inline_script_tags"
                        ]
                    }
                ],
                "summary": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u53d6\u5f97",
                "tags": [
                    "inline_script"
                ]
            },
            "post": {
                "description": "",
                "operationId": "createInlineScriptTag",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "inline_script_tag": {
                                        "properties": {
                                            "display_scope": {
                                                "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\u3002\n\n- `all`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\u3068\u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\u306e\u4e21\u65b9\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n- `cart`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\n",
                                                "enum": [
                                                    "all",
                                                    "thanks_page",
                                                    "cart"
                                                ],
                                                "example": "shop",
                                                "type": "string"
                                            },
                                            "script": {
                                                "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8",
                                                "example": "console.log(\"aaaaa\")",
                                                "type": "string"
                                            },
                                            "trigger_event": {
                                                "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u5b9f\u884c\u3059\u308b\u30bf\u30a4\u30df\u30f3\u30b0\u3002\n\n- `object_builded`: JS\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u4f5c\u6210\u304c\u5b8c\u4e86\u3057\u305f\u6642\n",
                                                "enum": [
                                                    "object_builded"
                                                ],
                                                "example": "object_builded",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "\u4f5c\u6210\u3059\u308b\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u60c5\u5831"
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "inline_script_tag": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "account_id": {
                                                    "description": "\u30a2\u30ab\u30a6\u30f3\u30c8ID",
                                                    "example": "PA04511366",
                                                    "type": "string"
                                                },
                                                "display_scope": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\u3002\n\n- `all`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\u3068\u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\u306e\u4e21\u65b9\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n- `cart`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\n",
                                                    "enum": [
                                                        "all",
                                                        "thanks_page",
                                                        "cart"
                                                    ],
                                                    "example": "shop",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                                                    "example": 1342332,
                                                    "type": "integer"
                                                },
                                                "make_date": {
                                                    "description": "\u4f5c\u6210\u65e5\u6642",
                                                    "example": 1465784944,
                                                    "type": "integer"
                                                },
                                                "oauth_application_id": {
                                                    "description": "\u30a2\u30d7\u30eaID",
                                                    "example": 8102,
                                                    "type": "integer"
                                                },
                                                "script": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8",
                                                    "example": "console.log(\"aaaaa\")",
                                                    "type": "string"
                                                },
                                                "trigger_event": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u5b9f\u884c\u3059\u308b\u30bf\u30a4\u30df\u30f3\u30b0\u3002\n\n- `object_builded`: JS\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u4f5c\u6210\u304c\u5b8c\u4e86\u3057\u305f\u6642\n",
                                                    "enum": [
                                                        "object_builded"
                                                    ],
                                                    "example": "object_builded",
                                                    "type": "string"
                                                },
                                                "update_date": {
                                                    "description": "\u66f4\u65b0\u65e5\u6642",
                                                    "example": 1494496809,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "write_inline_script_tags"
                        ]
                    }
                ],
                "summary": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u767b\u9332",
                "tags": [
                    "inline_script"
                ]
            }
        },
        "/v1/inline_script_tags/{inlineScriptTagId}.json": {
            "delete": {
                "description": "",
                "operationId": "deleteInlineScriptTag",
                "parameters": [
                    {
                        "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                        "in": "path",
                        "name": "inlineScriptTagId",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "write_inline_script_tags"
                        ]
                    }
                ],
                "summary": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u524a\u9664",
                "tags": [
                    "inline_script"
                ]
            },
            "get": {
                "description": "",
                "operationId": "getInlineScriptTag",
                "parameters": [
                    {
                        "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                        "in": "path",
                        "name": "inlineScriptTagId",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "inline_script_tag": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "account_id": {
                                                    "description": "\u30a2\u30ab\u30a6\u30f3\u30c8ID",
                                                    "example": "PA04511366",
                                                    "type": "string"
                                                },
                                                "display_scope": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\u3002\n\n- `all`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\u3068\u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\u306e\u4e21\u65b9\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n- `cart`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\n",
                                                    "enum": [
                                                        "all",
                                                        "thanks_page",
                                                        "cart"
                                                    ],
                                                    "example": "shop",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                                                    "example": 1342332,
                                                    "type": "integer"
                                                },
                                                "make_date": {
                                                    "description": "\u4f5c\u6210\u65e5\u6642",
                                                    "example": 1465784944,
                                                    "type": "integer"
                                                },
                                                "oauth_application_id": {
                                                    "description": "\u30a2\u30d7\u30eaID",
                                                    "example": 8102,
                                                    "type": "integer"
                                                },
                                                "script": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8",
                                                    "example": "console.log(\"aaaaa\")",
                                                    "type": "string"
                                                },
                                                "trigger_event": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u5b9f\u884c\u3059\u308b\u30bf\u30a4\u30df\u30f3\u30b0\u3002\n\n- `object_builded`: JS\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u4f5c\u6210\u304c\u5b8c\u4e86\u3057\u305f\u6642\n",
                                                    "enum": [
                                                        "object_builded"
                                                    ],
                                                    "example": "object_builded",
                                                    "type": "string"
                                                },
                                                "update_date": {
                                                    "description": "\u66f4\u65b0\u65e5\u6642",
                                                    "example": 1494496809,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "read_inline_script_tags"
                        ]
                    }
                ],
                "summary": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u53d6\u5f97",
                "tags": [
                    "inline_script"
                ]
            },
            "put": {
                "description": "",
                "operationId": "updateInlineScriptTag",
                "parameters": [
                    {
                        "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                        "in": "path",
                        "name": "inlineScriptTagId",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "inline_script_tag": {
                                        "properties": {
                                            "display_scope": {
                                                "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\u3002\n\n- `all`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\u3068\u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\u306e\u4e21\u65b9\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n- `cart`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\n",
                                                "enum": [
                                                    "all",
                                                    "thanks_page",
                                                    "cart"
                                                ],
                                                "example": "shop",
                                                "type": "string"
                                            },
                                            "script": {
                                                "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8",
                                                "example": "console.log(\"aaaaa\")",
                                                "type": "string"
                                            },
                                            "trigger_event": {
                                                "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u5b9f\u884c\u3059\u308b\u30bf\u30a4\u30df\u30f3\u30b0\u3002\n\n- `object_builded`: JS\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u4f5c\u6210\u304c\u5b8c\u4e86\u3057\u305f\u6642\n",
                                                "enum": [
                                                    "object_builded"
                                                ],
                                                "example": "object_builded",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "\u66f4\u65b0\u3059\u308b\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0\u306e\u60c5\u5831"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "inline_script_tag": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "account_id": {
                                                    "description": "\u30a2\u30ab\u30a6\u30f3\u30c8ID",
                                                    "example": "PA04511366",
                                                    "type": "string"
                                                },
                                                "display_scope": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u3092\u51fa\u529b\u3059\u308b\u30da\u30fc\u30b8\u3002\n\n- `all`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\u3068\u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\u306e\u4e21\u65b9\n- `thanks_page`: \u6ce8\u6587\u5b8c\u4e86\u30da\u30fc\u30b8\n- `cart`: \u30ab\u30fc\u30c8\u306e\u9014\u4e2d\u306e\u30da\u30fc\u30b8\n",
                                                    "enum": [
                                                        "all",
                                                        "thanks_page",
                                                        "cart"
                                                    ],
                                                    "example": "shop",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8\u30bf\u30b0ID",
                                                    "example": 1342332,
                                                    "type": "integer"
                                                },
                                                "make_date": {
                                                    "description": "\u4f5c\u6210\u65e5\u6642",
                                                    "example": 1465784944,
                                                    "type": "integer"
                                                },
                                                "oauth_application_id": {
                                                    "description": "\u30a2\u30d7\u30eaID",
                                                    "example": 8102,
                                                    "type": "integer"
                                                },
                                                "script": {
                                                    "description": "\u30a4\u30f3\u30e9\u30a4\u30f3\u30b9\u30af\u30ea\u30d7\u30c8",
                                                    "example": "console.log(\"aaaaa\")",
                                                    "type": "string"
                                                },
                                                "trigger_event": {
[...]
